.app {
  text-align: center;
  height: 100vh;
  color: #fff;
  background: #1d1d1d;
}

.app-nav {
  height: 50px;
  background: #333;
}

.app-nav-title {
  line-height: 50px;
  padding-left: 10px;
  text-align: left;
  color: #fff;
}

.app-nav-bottom {
  height: 50px;
  background: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-nav-bottom-text {
  line-height: 50px;
  color: #fff;
}