.movie-card {
    display: inline-block;
    width: 250px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.empty-img {
    height: 370px;
    background: #666;
}
.movie-card:hover {
    transform: scale(1.05);
}

.mt-20 {
    margin-top: 20px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-120 {
    margin-bottom: 120px;
}