.movie-card {
    width: 300px;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    cursor: pointer;
    margin: 4px;
    transition: all 0.3s ease-in-out;
    flex-basis: calc(20% - 8px);
}
.movie-results {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 800px) {
    .movie-results {
      flex-direction: column;
    }
    .movie-card {
        width: 100%;
    }
  }
.empty-img {
    height: 300px;
    background: #666;
}
.movie-card:hover {
    transform: scale(1.05);
}

.mt-20 {
    margin-top: 20px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-120 {
    margin-bottom: 120px;
}